.footer {
	position: relative;
	height: 630px;
	&__info {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: $main-color;
		padding: 50px 68px 60px 69px;
		height: 270px;
	}
	&__addr {
		margin-bottom: 36px;
		font-size: 20px;
		line-height: 20px;
		font-weight: 500;
		text-align: center;
		color: #ffffff;
	}
	&__phone {
		display: block;
		margin-bottom: 38px;
		font-size: 20px;
		line-height: 20px;
		font-weight: 700;
		color: #ffffff;
		text-align: center;
		&:hover {
			color: #fff;
		}
	}
	&__social-item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		border: 2px solid #fff;
		border-radius: 100%;
		margin: 0 15px;
		img {
			height: 27px;
		}
	}
	&__social {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
